.captchatextinput {
    margin-top: 0;
    margin-bottom: 20px;
    padding: 4px;
    border: 1px solid #AAA;
}

img.captcha {
    display: block;
    margin-top: 7px;
    margin-bottom: 7px;
}

#captcha-instructions {
    font-size: 12px;
    position: relative;
    top: -92px;
    left: 9px;
    z-index: 3;
}
