body {
    color: #333;
    margin: 0;
    padding: 0;
    border:  0;
    font-size: 62.5%;
    font-family: Helvetica, Arial, "Liberation Sans", sans-serif;
}

a, a:link, a:visited, a:hover {
    color: #0F66D0;
}

p, ul, ol, div.section-bottom {
    font-size: 1.2em;
    line-height: 1.5em;
}

#main {
    width: 960px;
    margin: 0 auto;
}

#main-content {
    background: #FFF none;
}

#main-content:after {
    content: ".";
    clear: both;
    display: block;
    visibility: hidden;
    height: 12px;
    line-height: 12px;
    margin-bottom: -12px;
}
